<html lang="in" dir="ltr">

<head>
<meta charset="UTF-8" />
<meta name="theme-color" content="#008dc1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<title>Abhishek Chaurasia | Resume</title>
<meta name="description" content="Go through my resume. Take a reference to design your own resume or CV" />

<link rel="canonical" href="https://hauberk.netlify.com/" />
</head>
<body>
<div class="introheader">
<div class="nameHeading">
    <div class="specificname">
        <h1>Abhishek Kumar</h1>
    </div>
    <div class="shortdesc">
        <p>Sector 23, East Pocket</p>
        <p>Gurgaon, Haryana (122017)</p>
        <p>+(91) 7250786565</p>
        <p>iabhi_chaurasia@ymail.com</p>
    </div>
</div>
</div>
<div class="main_info">
    <div class="experience">
        <h3><u>Experience</u></h3>
        <p><b>Raygain Technologies Private Limited</b>, GURGAON — PHP Develover</p>
        <h6>April 2019 - Present</h6>
        <ul>
            <li>Worked On UI Design</li>
            <li>Maintenanace of the Website</li>
            <li>Integration of MySQL with UI Design</li>
            <li>SEO Implementation</li>
            <li>Bug Fixes</li>            
        </ul>
        <hr>
        <p><b>Remo Software</b>, Bangalore —SEO Analyst</p>
        <h6>March 2018 - April 2019</h6>
        <ul>
            <li>Wordpress Development</li>
            <li>On-Page and Off-Page Optimisation</li>
            <li>Keyword Research on 7 Different Language</li>
            <li>Fixing Broken Link and UI Design Issues</li>
            <li>Blog Check and Sitemap maintenance</li>
            <li>Worked on Xenu and FileZila</li>
            <li>Adding Keywords to Internal linkings</li>
            <li>Page Translation In 10 Different languages</li>
            
        </ul>
        <hr>
        <h3><u>Education</u></h3>
        <p><b>Central Academy</b>, Ranchi - xII</p>
        <h6>2010-2012</h6>
        <p>Completed my Class of XII with Physics, Chemistry and maths as a main subjects</p>
        <hr>
        <p><b>NITMAS</b>, Kolkata - BE</p>
        <h6>2013-2017</h6>
        <p>Completed my BE in the Major Computer Science And Engineering</p>
    </div>
    <div class="skills">
        <h3>Skills</h3>
        <ul>
            <li>HTML</li>
            <li>CSS, Bootstrap</li>
            <li>Javascript</li>
            <li>PHP</li>
            <li>MySQL</li>
            <li>Angular</li>
            <li>Material Designing</li>
        </ul>

        <h3>Interests</h3>
        <ul>
            <li>After Effect</li>
            <li>Photoshop</li>
            <li>Sony Vegas Pro</li>
            <li>Blogging</li>
            <li>Table Tennis and Chess</li>
            
        </ul>
        <h3>Language</h3>
        <ul>
            <li>Hindi</li>
            <li>English</li>
            
            
        </ul>
        <h3>Projects</h3>
        <h6><a href="https://www.astroevents.in" target="_blank">Astroevents.IN</a>&nbsp;-&nbsp;Web App</h6>
        <p>Self Designed Website using HTML, CSS, Bootstrap and Javascript. The Page Mainly focuses on All the recent astronomical events about to occur.</p>
    </div>
</div>
</body>
</html>